<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Progrmacion Visual - Beneficios y Becas</title>
</head>
<body>

	<!-- ENCABEZADO -->
	<header th:replace="/layouts/header::header"></header>
	
		<img alt="Imagen de algo"
			src="..\static\images\becas.jpg"
			title="Imagen pasaste el cursor">

	<!-- TODA LA INFO DEL SITIO -->
	<section>
		<p>Página en construcción</p>
	</section>

	<!--  PIE DE PÁGINA -->
	<footer th:replace="/layouts/footer::footer"></footer>

</body>
</html>